@import "./../../common/scss/pure";

.remind_1_2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  .remind_content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .main {
      height: percent(705, 865);
      width: 100%;
      .main_top {
        height: percent(400, 705);
        display: flex;
        justify-content: center;
        .top_box {
          width: percent(549, 1281);
          height: 100%;
          .title {
            height: percent(65, 400);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: $font-2b3c49;
            font-size: r(46);
          }
          .box {
            width: 100%;
            box-sizing: border-box;
            height: percent(335, 400);
            border: 5px solid $back-e6e7e8;
            background-color: $back-fff;
            position: relative;
            .box_bottom {
              width: 100%;
              position: absolute;
              height: percent(80, 335);
              border-top: 5px solid $back-ccc;
              bottom: 0;
              .spots {
                position: absolute;
                width: 100%;
                height: percent(22, 76);
                left: 0;
                top: percent(-15, 81);
                display: flex;
                align-items: center;
                justify-content: space-around;
                .spot {
                  width: percent(26, 668);
                  height: 100%;
                  border-radius: 50%;
                }
                .black_spot {
                  background-color: $back-000;
                }
                .orange_spot {
                  background-color: $back-e2964a;
                }
                .blue_spot {
                  background-color: $back-7477ec;
                }
                .red_spot {
                  background-color: $back-ff0000;
                }
              }
              .substances {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                font-size: r(30);
                color: $font-2b3c49;
                .sub {
                  margin-left: percent(30);
                }
              }
            }
          }
        }
        .top_right {
          margin-left: percent(31, 1281);
          .box_top {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: percent(250, 335);
            background: url("pots.png") no-repeat center;
            .box_top_content {
              position: relative;
              width: 100%;
              height: 100%;
              .mask {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 2;
              }
              .small {
                position: absolute;
                box-sizing: border-box;
                border: 3px solid $back-ff0000;
                border-radius: 50%;
                width: percent(64, 549);
                height: percent(64, 250);
                left: percent(59, 549);
              }
              .small_one {
                top: percent(60, 250);
              }
              .small_two {
                top: percent(158, 250);
              }
              .big_circle {
                position: absolute;
                width: percent(82, 549);
                height: percent(240, 250);
                border-radius: 50%;
                top: percent(1, 250);
                left: percent(46, 549);
                animation: bigcircle 1s infinite;
              }
            }
          }
        }
      }
      .main_bottom {
        height: percent(186, 705);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
          width: 100%;
          height: percent(67, 186);
          font-size: r(40);
          color: $font-2b3c49;
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }
        .bottom_remind {
          width: 100%;
          height: percent(106, 186);
          display: flex;
          justify-content: center;
          .remind_left {
            width: percent(367, 1281);
            height: 100%;
            background-color: $back-fff;
            @include border-r(percent(10, 367), percent(10, 106));
            display: flex;
            font-size: r(32);
            color: $font-fff;
            justify-content: center;
            align-items: center;
            .remind_content {
              width: percent(358, 367);
              height: percent(96, 106);
              background-color: $back-43689e;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              @include border-r(percent(10, 367), percent(10, 106));
            }
          }
          .remind_mid {
            width: percent(440, 1281);
            height: percent(80, 106);
            margin: 0 percent(14);
            display: flex;
            justify-content: space-between;
            .choose {
              height: 100%;
              width: percent(116, 440);
              background-color: $back-fff;
              @include border-r(percent(7, 116), percent(7, 80));
              @extend %flex-center-center;
              cursor: pointer;
              .choose_content {
                width: percent(104, 116);
                height: percent(68, 80);
                @extend %flex-center-center;
                background: url("bg-blue.png") no-repeat center;
                color: $font-fff;
                font-size: r(48);
                &:hover {
                  background: url("bg-red.png") no-repeat center;
                }
              }
            }
          }
          .remind_right {
            @extend .remind_left;
          }
        }
      }
    }
  }
}

@keyframes bigcircle {
  from {
    border: 3px solid transparent;
  }
  to {
    border: 3px solid $back-ff0000;
  }
}