@import "./../../common/scss/pure";

.remind_1_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  .remind_content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .main {
      height: percent(621, 865);
      width: 100%;
      display: flex;
      .main_left {
        width: percent(668, 1281);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .left_top {
          background-color: $back-fff;
          width: percent(548, 668);
          height: percent(336, 621);
          border: 5px solid $back-e6e7e8;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .bottom_show {
            border-top: 5px solid $back-ccc;
            box-sizing: border-box;
            width: 100%;
            height: percent(81, 336);
            position: relative;
            .spots {
              position: absolute;
              width: 100%;
              height: percent(22, 76);
              left: 0;
              top: percent(-15, 81);
              display: flex;
              align-items: center;
              justify-content: space-around;
              .spot {
                width: percent(26, 668);
                height: 100%;
                border-radius: 50%;
              }
              .black_spot {
                background-color: $back-000;
              }
              .orange_spot {
                background-color: $back-e2964a;
              }
              .blue_spot {
                background-color: $back-7477ec;
              }
              .red_spot {
                background-color: $back-ff0000;
              }
            }
            .substances {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-around;
              text-align: center;
              font-size: r(32);
              color: $font-2b3c49;
              .sub {
                margin-left: percent(30);
              }
            }
          }
        }
        .left_bottom {
          width: 100%;
          height: percent(154, 621);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: r(36);
          color: $font-2b3c49;
          text-align: center;
        }
      }
      .main_right {
        width: percent(613, 1281);
        height: 100%;
        position: relative;
        .right_top {
          width: 100%;
          height: percent(243, 621);
          .title {
            color: $font-2b3c49;
            text-align: center;
            font-size: r(36);
            font-weight: 600;
          }
          .beakers {
            position: absolute;
            width: percent(343, 613);
            height: percent(245, 621);
            left: percent(139, 613);
            top: percent(125, 621);
            display: flex;
            justify-content: space-around;
            .beaker {
              width: percent(91, 343);
              height: 100%;
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              align-items: center;
              .choose {
                width: 100%;
                height: percent(91, 245);
                background-color: $back-43689e;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $font-fff;
                font-size: r(48);
                @include border-r(percent(6, 91), percent(6, 91));
              }
            }
            .beaker_a {
              &:before {
                display: block;
                content: ' ';
                width: percent(65, 91);
                height: percent(118, 245);
                background: url("orange-cup.png") no-repeat center;
              }
            }
            .beaker_b {
              &:before {
                display: block;
                content: ' ';
                width: percent(65, 91);
                height: percent(118, 245);
                background: url("blue-cup.png") no-repeat center;
              }
            }
            .beaker_c {
              &:before {
                display: block;
                content: ' ';
                width: percent(65, 91);
                height: percent(118, 245);
                background: url("red-cup.png") no-repeat center;
              }
            }
          }
        }
        .right_bottom {
          width: 100%;
          height: percent(378, 621);
          background: url("table.png") no-repeat center;
        }
      }
    }
  }

}