@import "./../../common/scss/pure";

.remind_1_4 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  .remind_content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .main {
      height: percent(612, 865);
      width: 100%;
      @extend %flex-center-start;
      .box {
        width: percent(549);
        box-sizing: border-box;
        height: percent(335, 612);
        border: 5px solid $back-e6e7e8;
        background-color: $back-fff;
        position: relative;
        .box_top {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          height: percent(250, 335);
          background: url("pots.png") no-repeat center;
        }
        .box_bottom {
          width: 100%;
          position: absolute;
          height: percent(80, 335);
          border-top: 5px solid $back-ccc;
          bottom: 0;
          .spots {
            position: absolute;
            width: 100%;
            height: percent(22, 76);
            left: 0;
            top: percent(-15, 81);
            display: flex;
            align-items: center;
            justify-content: space-around;
            .spot {
              width: percent(26, 668);
              height: 100%;
              border-radius: 50%;
            }
            .black_spot {
              background-color: $back-000;
            }
            .orange_spot {
              background-color: $back-e2964a;
            }
            .blue_spot {
              background-color: $back-7477ec;
            }
            .red_spot {
              background-color: $back-ff0000;
            }
          }
          .substances {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            font-size: r(30);
            color: $font-2b3c49;
            .sub {
              margin-left: percent(30);
            }
          }
        }
      }
      .summary{
        width: percent(613);
        height: percent(335, 612);
        margin-left: percent(31);
        .title{
          height: percent(94, 335);
          text-shadow: 0 6px 2px rgba(0,0,0,.3);
          font-size: r(68);
          color: $font-4c4b4b;
        }
        .content{
          font-size: r(40);
          height: percent(241, 335);
          color: $font-2b3c49;
          @extend %flex-column-center ;
          .line_1{
            height: percent(72, 241);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          }
          .line_2{
            height: percent(65, 241);
          }
          .line_3{
            height: percent(104, 241);
            @extend %flex-column-center;
          }
        }
      }
    }
  }
  .meth_footer {
    background-color: #99b4bf;
    width: 100%;
    height: percent(107, 865);
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: r(38);
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    //display: none;
    .footer_guide {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      cursor: pointer;
      .guide_content {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .previous {
      width: percent(283, 1281);
      height: percent(81, 107);
      @include border-r(percent(6, 210), percent(6, 81));
      margin-left: percent(30);
      .prev_content {
        width: percent(263, 283);
        height: percent(61, 81);
        background: url("prev.png") no-repeat center;
      }
    }
    .replay {
      width: percent(197, 1281);
      height: percent(81, 107);
      @include border-r(percent(6, 197), percent(6, 81));
      margin-left: percent(13);
      .replay_content {
        width: percent(176, 197);
        height: percent(61, 81);
        background: url("replay.png") no-repeat center;
      }
    }
  }
}