@mixin border-r($x, $y) {
  border-top-left-radius: $x $y;
  border-bottom-left-radius: $x $y;
  border-top-right-radius: $x $y;
  border-bottom-right-radius: $x $y;
}

%flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

%flex-center-end{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

%flex-center-start{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}