// background-color
$back-43689e: #43689e;
$back-3987b2: #3987b2;

// font-color
$font-fff: #ffffff;

// font-size
$font-large: r(68);
$font-medium: r(52);
$font-small: r(50);
$font-xsmal: r(48);
$font-xxsmal: r(46);
$font-xxxsmal: r(44);