// background-color
$back-43689e: #43689e;
$back-3987b2: #3987b2;
$back-e2964a: #e2964a;
$back-000: #000;
$back-7477ec: #7477ec;
$back-ff0000: #ff0000;
$back-fff: #ffffff;
$back-e6e7e8: #e6e7e8;
$back-ccc: #cccccc;

// font-color
$font-fff: #ffffff;
$font-2b3c49: #2b3c49;
$font-4c4b4b: #4c4b4b;


// font-size
$font-large: r(68);
$font-medium: r(52);
$font-small: r(50);
$font-xsmal: r(48);
$font-xxsmal: r(46);
$font-xxxsmal: r(44);