html, body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, "Roboto Regular", Roboto, "Droid Sans", "Microsoft Yahei", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  font-weight: 500;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

body, html, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}